{
  "plugins": [
    "transform-class-properties",
    "syntax-decorators",
    "transform-decorators-legacy"
  ],
  "presets": ["es2015","react"],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}
