<!doctype HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Media Party / 2019 / Auth</title>
</head>
<body>
<form method="post" action="/auth">
    <label for="key">Enter security key:
        <input id="key" name="key" type="password" />
    </label>
    <input type="hidden" name="redirect" value="<%- redirect %>">
    <button type="submit">SEND</button>
</form>
</body>
</html>